#
# .gitignore
#
# Ignore works for the dir the gitignore file resides in.
# To have a global effect affect to all repositories run this command:
# git config --global core.excludesfile ~/.gitignore

.DS_Store
Thumbs.db

config.txt
